<B>This NoteBook is for Segmenting and Clustering Neighborhoods in Toronto.</B></n></n>

Resolve dependancy if any, Install beautifulsoup4 and request pakage.

In [1]:
!pip install beautifulsoup4
!pip install requests

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/lib/python3.6/site-packages (4.6.0)
distributed 1.21.8 requires msgpack, which is not installed.
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (2.18.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (2018.8.24)
distributed 1.21.8 requires msgpack, which is not installed.

<H3>Steps</H3>

i)   Import required libraries like pd, beautifulSoup, request.

ii)  Get the html request object for wikipedia web of postal codes of canada.

iii) Using beautifulsoup object get table tag data.

iv)  Iterate through HTML table, read all table row <tr>  and table data <td> and create list
    
V)   Create Pandas Dataframe from list.

In [2]:
import pandas as pd           # library to process data as dataframes
from bs4 import BeautifulSoup # library to process html page
import requests               # library to request data object

html = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

soup = BeautifulSoup(html, "lxml")

table = soup.find('table', attrs={'class':'wikitable sortable'}) # Get HTML table tag data
table_rows = table.find_all('tr')                  ## find all table row in table

res = []
for tr in table_rows:                        ## Iterate and create all list from table data.
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)

### Create DataFrame from HTML table list in above step and name columns.
df = pd.DataFrame(res, columns=["PostalCode", "Borough", "Neighbourhood"])
df.head(10)

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Not assigned
9        M8A      Not assigned      Not assigned

<H3>Count the size of dataframe after creating from HTML table</H3>

In [3]:
df.shape

(289, 3)

<H3>Steps</H3>

i) Filter rows if any Borough have 'Not assigned' value.

ii) Replace Neighbourhood values with Borough if Neighbourhood is having value 'Not assigned'.

In [4]:
df = df.loc[df['Borough'] != 'Not assigned'].reset_index()  # Filter 'Not assigned' Borough's

df.Neighbourhood.replace('Not assigned',df.Borough,inplace=True)

df.head(10)

   index PostalCode           Borough     Neighbourhood
0      2        M3A        North York         Parkwoods
1      3        M4A        North York  Victoria Village
2      4        M5A  Downtown Toronto      Harbourfront
3      5        M5A  Downtown Toronto       Regent Park
4      6        M6A        North York  Lawrence Heights
5      7        M6A        North York    Lawrence Manor
6      8        M7A      Queen's Park      Queen's Park
7     10        M9A         Etobicoke  Islington Avenue
8     11        M1B       Scarborough             Rouge
9     12        M1B       Scarborough           Malvern

<H3>Count the size of dataframe after filtering 'Not assigned' Borough</H3>

In [5]:
df.shape

(212, 4)

<H3>Steps</H3>

i) Where more than one neighborhood can exist in one postal code combine two rows into one row with the neighborhoods separated with a comma.

In [6]:
df = df.groupby(['PostalCode','Borough'])['Neighbourhood'].apply(list).to_frame().reset_index()

df.head(10)

  PostalCode      Borough                                      Neighbourhood
0        M1B  Scarborough                                   [Rouge, Malvern]
1        M1C  Scarborough           [Highland Creek, Rouge Hill, Port Union]
2        M1E  Scarborough                [Guildwood, Morningside, West Hill]
3        M1G  Scarborough                                           [Woburn]
4        M1H  Scarborough                                        [Cedarbrae]
5        M1J  Scarborough                              [Scarborough Village]
6        M1K  Scarborough      [East Birchmount Park, Ionview, Kennedy Park]
7        M1L  Scarborough                  [Clairlea, Golden Mile, Oakridge]
8        M1M  Scarborough  [Cliffcrest, Cliffside, Scarborough Village West]
9        M1N  Scarborough                      [Birch Cliff, Cliffside West]

<H3>Show the shape of the final data frame</H3>

In [7]:
df.shape

(103, 3)

<H3>Install dependancy geocoder</H3>

In [8]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 18.9MB/s
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (2.18.4)
Requirement already satisfied: future in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (0.16.0)
Requirement already satisfied: six in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (1.11.0)
Requirement already satisfied: click in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (6.7)
Requirement already satisfied: decorator in /home/jupyterlab/conda/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2018.8.24)
distributed 1.21.8 requires msgpack, which is not installed.
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

<H3>Get longitude and Latitude for PostalCodes of Canada </H3>

In [ ]:

import geocoder # import geocoder

## Itereate
for i, row in df.iterrows():
    
    #initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, {}'.format(row.PostalCode,row.Borough))
        lat_lng_coords = g.latlng
        print(lat_lng_coords)
        #latitude = lat_lng_coords[0]
        #longitude = lat_lng_coords[1]
        #print(latitude,longitude)

<H3>As Geocoder library is not responding hence using CSV file to get latitude and longitude</H3>

In [9]:
dfll = pd.read_csv('Geospatial_Coordinates.csv')
dfll.head(10)

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476
5        M1J  43.744734 -79.239476
6        M1K  43.727929 -79.262029
7        M1L  43.711112 -79.284577
8        M1M  43.716316 -79.239476
9        M1N  43.692657 -79.264848

In [10]:
dfll.shape

(103, 3)

<h3> Merge the two dataframe on Postal code, show sample data and count</h3>

In [11]:
df = df.merge(dfll,on='PostalCode')

In [12]:
df.head(10)

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"[Rouge, Malvern]",43.806686,-79.194353
1,M1C,Scarborough,"[Highland Creek, Rouge Hill, Port Union]",43.784535,-79.160497
2,M1E,Scarborough,"[Guildwood, Morningside, West Hill]",43.763573,-79.188711
3,M1G,Scarborough,[Woburn],43.770992,-79.216917
4,M1H,Scarborough,[Cedarbrae],43.773136,-79.239476
5,M1J,Scarborough,[Scarborough Village],43.744734,-79.239476
6,M1K,Scarborough,"[East Birchmount Park, Ionview, Kennedy Park]",43.727929,-79.262029
7,M1L,Scarborough,"[Clairlea, Golden Mile, Oakridge]",43.711112,-79.284577
8,M1M,Scarborough,"[Cliffcrest, Cliffside, Scarborough Village West]",43.716316,-79.239476
9,M1N,Scarborough,"[Birch Cliff, Cliffside West]",43.692657,-79.264848

In [13]:
df.shape

(103, 5)